/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
    --color-black: #0d0d0d;
    --color-black-hover: #2a2a2a;
    --color-white: #fff;
    --color-yellow: skyblue;
    --color-yellow-hover: rgb(32, 99, 151);
    --color-purple: #6610f2;
    --color-green: #0e9577;
    --color-green-hover: #0f766e;
    --color-bg: white;
}

body {
    margin: 10px;
    font-family: 'Inter', sans-serif;
    color: var(--color-black);
    background-color: var(--color-bg);
    border: 2px solid var(--color-black);
    line-height: 1.75;
    font-size: 1.125rem;
}

p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

a {
    color: var(--color-black);
}

a:hover {
    color: var(--color-black-hover);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
    line-height: 1;
}

h1 {
    font-size: 2.441rem;
}

h2 {
    font-size: 1.953rem;
}

h3 {
    font-size: 1.566rem;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 3.052rem;
    }

    h2 {
        font-size: 2.441rem;
    }

    h3 {
        font-size: 1.953rem;
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 4.624rem;
    }

    h2 {
        font-size: 4.11rem;
    }

    h3 {
        font-size: 3.653rem;
    }
}

/** container **/

.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.offscreen {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/** header **/

.header {
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-black);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'logo talk'
        'menu menu';
}

.header-logo {
    grid-area: logo;
    border-right: 2px solid var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 0;
}

.header-talk {
    grid-area: talk;
    background-color: var(--color-yellow);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.header-talk:hover {
    background-color: var(--color-yellow-hover);
}

.header-nav {
    grid-area: menu;
    border-top: 2px solid var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.2rem;
    padding: 0 0.7rem;
    overflow-y: auto;
}

.header-nav-list a {
    position: relative;
    text-decoration: none;
    padding: 0.4rem 0;
    display: block;
}

.header-nav-list a.active:before {
    content: '*';
    position: absolute;
    color: var(--color-yellow);
    top: -0.2rem;
    left: 50%;
    margin-left: -0.3rem;
}

@media (min-width: 768px) {
    .header {
        grid-template-columns: 180px 1fr 180px;
        grid-template-areas: 'logo menu talk';
    }

    .header-nav {
        border-top: 0;
    }

    .header-talk {
        border-left: 2px solid var(--color-black);
    }
}

/** Hero **/

.hero {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid var(--color-black);
}

.hero-col {
    flex: 1 1 0;
    display: flex;
    align-items: center;
}

.hero-image-col {
    justify-content: center;
}

.hero-image {
    overflow: hidden;
    border-radius: 11rem 0.75rem;
    border: 2px solid var(--color-black);
    margin-bottom: 2rem;
    filter: drop-shadow(10px -10px 0 var(--color-yellow));
}

.hero-about__subheading {
    font-size: 1.125rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1;
}

.hero-about__body {
    max-width: 36rem;
}

@media (min-width: 768px) {
    .hero .container {
        display: flex;
        flex-direction: row-reverse;
        gap: 2.5rem;
    }

    .hero-image-col {
        justify-content: flex-end;
    }
}

@media (min-width: 1024px) {
    .hero {
        padding-top: 9rem;
        padding-bottom: 9rem;
    }
}

@media (min-width: 1280px) {
    .hero {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
}

/** marquee **/

.marquee {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    background-color: var(--color-white);
    padding: 0.6rem 1rem;
    text-decoration: none;
    color: var(--color-black);
    border: 2px solid var(--color-black);
}

.marquee__items {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    gap: 1rem;
    min-width: 100%;
    font-size: 2rem;
    font-weight: 800;
    animation: marqueeAnimation 50s linear infinite;
}

.marquee:hover .marquee__items {
    animation-play-state: paused;
}

@keyframes marqueeAnimation {
    from {
        translate: 0 0;
    }
    to {
        translate: calc(-100% - 1rem) 0;
    }
}

/** navBtn **/

.nav-button {
    display: block;
    background-color: var(--color-white);
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 1rem 1rem;
    margin: 1rem;
    border-radius: 2rem;
}

.nav-button:hover {
    background-color: var(--color-yellow);
    transition: all 0.1s ease-in-out;
}

/** contact **/

.contact {
    padding: 4rem 4rem;
    border-bottom: 2px solid var(--color-black);
}

.contact-grid {
    display: grid;
    gap: 2rem;
}

@media (min-width: 1024px) {
    .contact-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/** socials nav **/

.socials {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.socials a {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-decoration: none;
    align-items: center;
    width: 7rem;
    height: 7rem;
}

.socials a:hover {
    color: var(--color-black--hover);
}

/** about **/

.about-col {
    flex: 1 1 0;

    align-items: center;
    height: 400px;
}

.about-col-scroll {
    overflow: auto;
}

.about-h1-box {
    height: 20rem;
    width: 20rem;
    padding: 3rem;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-h1-box:hover {
    background-color: var(--color-yellow);
    border: 10px solid var(--color-yellow);
    color: white;
}

.content-skill-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.invisible {
    visibility: hidden;
}

.skill-tag {
    background-color: var(--color-yellow);
    color: var(--color-white);
    margin: 1rem;
    padding: 0.7rem;
    width: fit-content;
    border-radius: 30%;
    font-size: 1.566rem;
    font-weight: 900;
}

@media (min-width: 1024px) {
    .skill-tag {
        font-size: 1.953rem;
    }
}

@media (min-width: 1280px) {
    .skill-tag {
        font-size: 3.653rem;
    }
}

.content-inner-box {
    text-align: center;
    background-color: var(--color-yellow);
    color: var(--color-white);
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
}

.content-inner-box-ho a {
    text-decoration: none;
    color: white;
}

.content-inner-box-ho {
    text-align: center;
    background-color: var(--color-yellow);
    color: var(--color-white);
    margin: 1rem;
    border-radius: 10px 10px 10px 10px;
}

.content-inner-box-ho:hover {
    background-color: var(--color-yellow-hover);
}

.scroll-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.scroll-content.active {
    opacity: 1;
    transform: translateY(0);
}

.box-margin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
}

/* @keyframes瑜� �듯빐 源쒕묀�대뒗 �좊땲硫붿씠�섏쓽 �ㅽ봽�덉엫�� �뺤쓽�⑸땲��. */
@keyframes blink {
    0% {
        opacity: 1;
    } /* �쒖옉 �곹깭: 遺덊닾紐� */
    50% {
        opacity: 0;
    } /* 以묎컙 �곹깭: �щ챸 */
    100% {
        opacity: 1;
    } /* �� �곹깭: 遺덊닾紐� */
}

/* .blinking �대옒�ㅼ뿉 源쒕묀�대뒗 �좊땲硫붿씠�섏쓣 �곸슜�⑸땲��. */
.blinking {
    animation: blink 3s infinite; /* 1珥� 媛꾧꺽�쇰줈 臾댄븳 諛섎났 */
}
